<div *ngIf="adherent">

    <app-adherent-card 
    [adherent]="adherent" 
    (changed)="onAdherentChange($event)"
    (savePdf)="onSavePdf($event, adherent.Uid)"></app-adherent-card>

    <app-adherent-card *ngFor="let member of adherent.Membres" 
        [adherent]="member"
        (changed)="onMemberChange($event)"
        (savePdf)="onSavePdf($event, member.Uid)"></app-adherent-card>

</div>

<div class="ins-buttons">
    <button type="button" mat-raised-button (click)="onCancel()">Retour</button>
    <button type="button" mat-raised-button color="primary" (click)="onValidate()" [disabled]="!isFormValid">Valider</button>
</div>