<div *ngIf="adherent">

    <app-adherent-doc 
        [adherent]="adherent" 
        (changed)="onAdherentChange($event)"
        (savePdf)="onSavePdf($event, adherent.Uid)">
    </app-adherent-doc>

    <app-adherent-doc *ngFor="let member of adherent.Membres" 
        [adherent]="member"
        (changed)="onMemberChange($event)"
        (savePdf)="onSavePdf($event, member.Uid)">
    </app-adherent-doc>

    <section class="inscription border-div">
        <div class="section-title">
            <span class="title">Signature</span>
        </div>
    
        <div class="signature">
            <app-signature-form [signature]="adherent.Signature"
                (changed)="onSignature($event)"></app-signature-form>
        </div>
    </section>
    
</div>

<div class="ins-buttons">
    <button type="button" mat-raised-button (click)="onCancel()">Retour</button>
    <button type="button" mat-raised-button color="primary" (click)="onValidate()" [disabled]="!isFormValid">Valider</button>
</div>