<div class="content">
    <div class="photo-cropper">
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [imageBase64]="imageBase64"
                [maintainAspectRatio]="false"
                [aspectRatio]="3 / 4"
                [canvasRotation]="canvasRotation"
                [transform]="transform"
                format="png"
                [style.display]="showCropper ? null : 'none'"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded($event)"
                (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
    </div>

    <div *ngIf="config?.data" class="buttons">
		<button mat-icon-button matSuffix class="icon-button cancel enabled" (click)="onRotate()">
			<mat-icon>crop_rotate</mat-icon>
		</button>

        <button mat-icon-button matSuffix class="icon-button cancel enabled" (click)="onFlip('h')">
			<mat-icon>swap_horiz</mat-icon>
		</button>

        <button mat-icon-button matSuffix class="icon-button cancel enabled" (click)="onFlip('v')">
			<mat-icon>swap_vert</mat-icon>
		</button>

        <button mat-icon-button matSuffix class="icon-button cancel enabled" (click)="zoomOut()">
			<mat-icon>zoom_out</mat-icon>
		</button>

        <button mat-icon-button matSuffix class="icon-button cancel enabled" (click)="zoomIn()">
			<mat-icon>zoom_in</mat-icon>
		</button>
		
		
	</div>

    <div *ngIf="croppedImage" class="cropped">
        <div id="gabarit" class="gabarit">
            <img id="cropped" [src]="croppedImage" />
        </div>
        <div class="crop-slider">
            <mat-slider
                thumbLabel
                (input)="onOpacity($event)"
                tickInterval="1"
                min="0"
                max="100"
                step="1"
                >
            </mat-slider>
        </div>
    </div>
</div>

<div class="ng-modal-footer">
    <button type="button" mat-raised-button (click)="onCancel()">{{config.cancelLabel}}</button>
    <button type="button" mat-raised-button color="primary" (click)="onValidate()">{{config.validateLabel}}</button>
</div>
