$breakpoint-tablet: 991px;
$breakpoint-mobile: 667px;
.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    .photo-cropper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 250px;
        width: 50%;
        margin: 10px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10%;
        height: 225px;
        align-items: center;
        .icon-button {
            padding-bottom: 10px;
            .mat-icon {
                transform: scale(1);
            }
            // .mat-slider-thumb-label-text {
            //     transform: rotate(0) !important;
            // }
        }
    }
    .cropped {
        padding: 20px;
        height: 193px;
        width: 40%;
        display: flex;
        flex-direction: column;
        // @media screen and (max-width: $breakpoint-mobile) {
        //     height: 140px;
        //     width: 110px;
        // }
        .gabarit {
            height: 193px;
            width: 150px;
            background-image: url("./../../../../assets/images/gabarit_ci.png");
            background-size: contain;
            @media screen and (max-width: $breakpoint-mobile) {
                height: 140px;
                width: 110px;
            }
            img {
                object-fit: contain;
                height: 193px;
                width: 150px;
                opacity: 0.5;
                @media screen and (max-width: $breakpoint-mobile) {
                    height: 140px;
                    width: 110px;
                }
            }
        }
        .crop-slider{
            display: flex;
            justify-content: center;
        }
    }
}
