:host ::ng-deep {
    .pre-header {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
        height: var(--pre_header_height_top);
        background: var(--blue);
        position: relative;
        z-index: 2;
        div {
            color: #fff;
            padding: 10px 50px;
        }
        .opacity-overlay {
            position: absolute;
            border-bottom: 1px solid var(--primary-color);
            background-color: transparent;
            background: var(--blue);
            opacity: 0.3;
            display: block;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    }
}