:host ::ng-deep {
    .header {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 50;
  
      /*-------------------- HEADER TOP --------------------*/
      &__top {
        height: var(--header_height_top);
        background: var(--blue);
        position: relative;
        z-index: 2;
  
        .container {
          height: 100%;
          display: flex;
          align-items: center;
          @media screen and (max-width: 1300px) {
            justify-content: space-between;
          }
          .left,
          .center,
          .right {
            flex: 1 0 auto;
            @media screen and (max-width: 1300px) {
              flex: 1 0 auto;
            }
          }
          .left {
            display: flex;
            align-items: center;
            margin-right: 50px;
            .title {
                color: var(--white);
                font-size: 32px;
                font-weight: 700;
                transition: var(--global-transition);
                @media screen and (max-width: 400px) {
                  font-size: 25px;
                  
                } 
            }
            .menu-burger {
              display: none;
              margin-right: 30px;
              &:before {
                font-size: 22px;
                color: var(--white);
              }
              @media screen and (max-width: 1300px) {
                display: block;
              }
            }
            img {
              display: block;
              width: 130px;
              cursor: pointer;
              @media screen and (max-width: 1300px) {
                width: 90px;
              }
            }
          }
          .center {
            display: flex;
            justify-content: center;
            padding: 0 10px;
            @media screen and (max-width: 1300px) {
                display: none;
            }
            // @media screen and (max-width: 1025px) {
            //   display: none;
            // }
          }
          .right {
            height: 100%;
            .desktop,
            .mobile {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              > * {
                height: 100%;
                display: flex;
                align-items: center;
                color: var(--white);
                &:not(:first-of-type) {
                  margin-left: 30px;
                  @media screen and (max-width: 1200px) {
                    margin-left: 20px;
                  }
                }
              }
            }
            .desktop {
              @media screen and (max-width: 1250px) {
                display: none;
              }
            }
            .mobile {
              display: none;
              @media screen and (max-width: 1250px) {
                display: flex;
              }
              .icon-account {
                &:before {
                  font-size: 23px;
                  position: relative;
                  top: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
  