<div class="top" (click)="goBack()">
    <button mat-icon-button color="accent">
        <mat-icon>chevron_left</mat-icon>
        Retour à la liste des pages
    </button>
</div>

<div class="admin-container" *ngIf="page">
    <div class="title" contenteditable="true" (keyup)="onKeyUp($event)">{{title}}</div>
    <div>
        
        <div class="form" name="login_form">
            <div class="input">
                <!-- <label for="title">Titre de la page</label>
                <input type="text" id="title" name="title" placeholder="page.Title" [(ngModel)]="page.Title" required> -->
                
            </div>
            <div class="input">
                <input type="text" name="slug" placeholder="page.Slug" [(ngModel)]="page.Slug" required>
            </div>
        </div>
        
    </div>
</div>
