<div>

    <div class="top">
        <div class="actions">
            <button type="button" mat-raised-button color="primary" matPrefix (click)="returnToListe()">
                <mat-icon>arrow_back</mat-icon>Retour à la liste
            </button>
            <button type="button" mat-raised-button color="primary" matPrefix (click)="openEdit()">
                <mat-icon>edit</mat-icon>Modifier la fiche
            </button>
        </div>
    </div>

    <div class="adherent-card" *ngIf="adherent">
        <div class="left">
            <!-- INFOS GENERALES -->
            <p class="title">Informations générales (ID: {{adherent.IdAdherent}})</p>

            <div class="photo">
                <img [src]="photo ? photo : photo_default" height="80">
            </div>

            <div class="line">
                <p class="label">Nom</p>
                {{ adherent.LastName || '-' }}
            </div>
            <div class="line">
                <p class="label">Prénom</p>
                {{ adherent.FirstName || '-' }}
            </div>
            <div class="line">
                <p class="label">Genre</p>
                {{ adherent.Genre || '-' }}
            </div>
            <div class="line">
                <p class="label">Date naissance</p>
                {{ adherent.BirthdayDate | date:'dd/MM/yyyy' }} {{adherent.Age ? '(' + adherent.Age + ' ans)' : '-' }}
            </div>
            <div class="line">
                <p class="label">Adresse</p>
                {{ address }}
            </div>
            <div class="line">
                <p class="label">Tél</p>
                {{ adherent.Phone || '-' }}
            </div>
            <div class="line">
                <p class="label">Email</p>
                {{ adherent.Email || '-' }}
            </div>

            <div class="line">
                <p class="label">Utilisation de l'image</p>
                {{ adherent.ImageRight === true ? 'Oui' : adherent.ImageRight === false ? 'Non' : '-' }}
            </div>
    
            <!-- FICHE VOLLEY -->
            <p class="title">Fiche Volley</p>
    
            <div class="line">
                <p class="label">Saison</p>
                {{ adherent.Saison }}
            </div>
            <div class="line">
                <p class="label">Date d'inscription</p>
                {{ adherent.InscriptionDate | date:'dd/MM/yyyy' }}
            </div>
            <div class="line">
                <p class="label">Section</p>
                {{ adherent.Section || '-' }}
            </div>
            <div class="line">
                <p class="label">Formule</p>
                {{ adherent.Category === 'C' ? 'Compétition' : adherent.Category === 'L' ? 'Loisirs' : adherent.Category === 'E' ? 'Ados' : '-' }}
            </div>
            <div class="line">
                <p class="label">Date certificat</p>
                {{ certifDate }}
            </div>
            <div class="line">
                <p class="label">Licence</p>
                {{ adherent.Licence || '-' }}
            </div>
            <div class="line">
                <p class="label">Autres sections</p>
                {{ adherent.Sections?.length ? adherent.Sections.join(',') : '-' }}
            </div>
            <div class="line">
                <p class="label">Equipe 1</p>
                {{ adherent.Team1 || '-' }}
            </div>
            <div class="line">
                <p class="label">Equipe 2</p>
                {{ adherent.Team2 || '-' }}
            </div>
            <div class="line">
                <p class="label">Personne à joindre 1</p>
                {{ adherent.Alert1 || '-' }}
            </div>
            <div class="line">
                <p class="label">Personne à joindre 2</p>
                {{ adherent.Alert2 || '-' }}
            </div>
            <div class="line">
                <p class="label">Personne à joindre 3</p>
                {{ adherent.Alert3 || '-' }}
            </div>
        </div>
        <div class="right">
            <!-- DOCUMENTS -->
            <p class="title">Documents</p>
            <div>
                <div class="line" *ngFor="let d of documents">
                    <p class="label">
                        {{d.libtype}}
                        <mat-icon class="valid" *ngIf="d.sent">check_circle</mat-icon>
                    </p>
                    <app-btn-action-doc [doc]="d" (download)="download($event)" (upload)="upload($event)" (generate)="generate()"></app-btn-action-doc>
                    <!-- <button *ngIf="d.sent" type="button" title="Download" mat-raised-button color="primary" matPrefix (click)="download(d.filename)">
                        <mat-icon>download</mat-icon>
                    </button> -->
                    <!-- <button *ngIf="!d.sent" type="button" title="Upload" mat-raised-button color="secondary" matPrefix (click)="selectedType = d.type; fileInput.click()">
                        <mat-icon>upload</mat-icon>
                    </button> -->
                </div>
                <input #fileInput style="display: none" type="file" multiple="false" (change)="handleFileInput($event)">
                <div class="line" *ngIf="adherent.Order?.PaymentLink">
                    <p class="label">Attestation paiement</p>
                    <button type="button" title="Open" mat-raised-button color="primary" matPrefix (click)="navigate(adherent.Order.PaymentLink)">
                        <mat-icon>receipt_long</mat-icon>
                    </button>
                </div>
            </div>

            <div class="line">
                <p class="label">Infos paiement</p>
                {{ adherent.Payment || '-' }}
            </div>
        </div>
        
    </div>
</div>

<!-- <app-generic-modal *ngIf="editMode" [config]="config">
    <app-adherent-form [adherent]="adherent"></app-adherent-form>
</app-generic-modal> -->