<form *ngIf="formGroup" [formGroup]="formGroup" class="form" [ngClass]="{'mobile': isMobile}">
    <button (click)="showPopupHealth()">Attestation de santé</button>
    <mat-accordion>
        <mat-expansion-panel [expanded]="adherent._opened">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="section-title">
                        <span class="title main" [ngClass]="{'mobile': isMobile}">{{titles[0]}}</span>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="inscription" [ngClass]="{'mobile': isMobile}">
                <mat-form-field class="form-element row-item">
                    <mat-label>Section</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let c of categories" [value]="c.Code">{{c.Libelle}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!formGroup.controls['category'].valid && formGroup.controls['category'].touched">
                        {{ getInputError('category') }}
                    </mat-error>
                </mat-form-field>

                <div *ngIf="choosenSection && noLicenceRequired" class="border-div">

                    <div class="training">
                        <div class="info">
                            Entraînements auxquels vous souhaitez participer
                        </div>

                        <div class="choice">
                            <mat-checkbox [(ngModel)]="adherent.TrainingTE" [ngModelOptions]="{standalone: true}">Mardi
                                soir</mat-checkbox>
                            <mat-checkbox [(ngModel)]="adherent.TrainingFM"
                                [ngModelOptions]="{standalone: true}">Vendredi midi</mat-checkbox>
                            <mat-checkbox [(ngModel)]="adherent.TrainingFE"
                                [ngModelOptions]="{standalone: true}">Vendredi soir</mat-checkbox>
                        </div>

                    </div>
                </div>

                <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
                    <mat-form-field class="first first-50">
                        <input matInput placeholder="Nom" formControlName="lastname">
                        <mat-error
                            *ngIf="!formGroup.controls['lastname'].valid && formGroup.controls['lastname'].touched">
                            {{ getInputError('lastname') }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="last">
                        <input matInput placeholder="Prénom" formControlName="firstname">
                        <mat-error
                            *ngIf="!formGroup.controls['firstname'].valid && formGroup.controls['firstname'].touched">
                            {{ getInputError('firstname') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
                    <mat-form-field class="first first-25">
                        <mat-label>Genre</mat-label>
                        <mat-select formControlName="genre">
                            <mat-option value="M">Masculin</mat-option>
                            <mat-option value="F">Féminin</mat-option>
                            <mat-option value="A">Autre</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!formGroup.controls['genre'].valid && formGroup.controls['genre'].touched">
                            {{ getInputError('genre') }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="last">
                        <mat-label>Date de naissance</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="birthdate" readonly (click)="picker.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error
                            *ngIf="!formGroup.controls['birthdate'].valid && formGroup.controls['birthdate'].touched">
                            {{ getDateError('birthdate') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field class="form-element row-item">
                    <mat-label>Adresse</mat-label>
                    <input matInput placeholder="Adresse" formControlName="address">
                    <mat-error *ngIf="!formGroup.controls['address'].valid && formGroup.controls['address'].touched">
                        {{ getInputError('address') }}
                    </mat-error>
                </mat-form-field>

                <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
                    <mat-form-field class="first first-25">
                        <mat-label>Code postal</mat-label>
                        <input matInput [mask]="cpInputMask" placeholder="Code postal" formControlName="postalcode">
                        <mat-error
                            *ngIf="!formGroup.controls['postalcode'].valid && formGroup.controls['postalcode'].touched">
                            {{ getCpError('postalcode') }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="last">
                        <mat-label>Ville</mat-label>
                        <input matInput placeholder="Ville" formControlName="city">
                        <mat-error *ngIf="!formGroup.controls['city'].valid && formGroup.controls['city'].touched">
                            {{ getInputError('city') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
                    <mat-form-field class="first first-25">
                        <mat-label>Téléphone</mat-label>
                        <input matInput [mask]="phoneInputMask" placeholder="Téléphone" formControlName="phone">
                        <mat-error *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
                            {{ getInputError('phone') }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="last">
                        <mat-label>Adresse de messagerie</mat-label>
                        <input matInput placeholder="Adresse de messagerie" formControlName="email">
                        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                            {{ getInputError('email') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="section-title">
                    <span class="title" [ngClass]="{'mobile': isMobile}">Personne à prévenir en cas d'urgence</span>
                </div>

                <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
                    <mat-form-field class="first first-33">
                        <input matInput placeholder="Nom" formControlName="alertlastname">
                        <mat-error
                            *ngIf="!formGroup.controls['alertlastname'].valid && formGroup.controls['alertlastname'].touched">
                            {{ getInputError('alertlastname') }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="first first-33">
                        <input matInput placeholder="Prénom" formControlName="alertfirstname">
                        <mat-error
                            *ngIf="!formGroup.controls['alertfirstname'].valid && formGroup.controls['alertfirstname'].touched">
                            {{ getInputError('alertfirstname') }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="first first-33">
                        <mat-label>Téléphone</mat-label>
                        <input matInput [mask]="phoneInputMask" placeholder="Téléphone" formControlName="alertphone">
                        <mat-error
                            *ngIf="!formGroup.controls['alertphone'].valid && formGroup.controls['alertphone'].touched">
                            {{ getInputError('alertphone') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </section>
        </mat-expansion-panel>

        <mat-expansion-panel *ngFor="let member of members; index as i" [expanded]="member._opened">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="title main" [ngClass]="{'mobile': isMobile}">{{titles[i + 1]}}</span>
                    <div class="button-remove">
                      <button mat-icon-button matPrefix class="icon-button remove enabled" (click)="showPopupRemove(member)" title="Supprimer le membre">
                        <mat-icon>person_remove</mat-icon>
                      </button>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="inscription" [ngClass]="{'mobile': isMobile}">
                <app-member-form 
                    [adherent]="member" 
                    [isMobile]="isMobile"
                    (change)="onMemberChange($event)"
                ></app-member-form>
            </section>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="ins-buttons">
        <button type="button" mat-raised-button (click)="onCancel()">Annuler</button>
        <button type="button" mat-raised-button color="primary" (click)="onValidate()"
            [disabled]="!isFormValid()">Valider</button>
    </div>
</form>