<div class="ng-modal" [ngClass]="size">
    <div class="ng-modal-content">
        <div class="ng-modal-header">
            <h1>{{ title }}</h1>
            <mat-icon class="close" (click)="onCancel()">close</mat-icon>
        </div>
        <div class="ng-modal-body">
            {{ text }}
        </div>
        <div class="ng-modal-footer">
            <button type="button" mat-raised-button color="primary" (click)="onValidate()">Valider</button>
            <button type="button" mat-raised-button (click)="onCancel()">Annuler</button>
        </div>
    </div>
</div>