@use "sass:map";
@use "@angular/material" as mat;
@include mat.core();
:root {
    $label: mat.m2-define-typography-level(16px, 27px, 300, $font-family: 'Roboto, "Helvetica Neue", sans-serif');

    $typography-config: map.merge(
        mat.m2-define-typography-config(
            $font-family: 'Roboto, "Helvetica Neue", sans-serif',
            $headline-1: mat.m2-define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
            $headline-2: mat.m2-define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
            $headline-3: mat.m2-define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
            $headline-4: mat.m2-define-typography-level(34px, 40px, 400),
            $headline-5: mat.m2-define-typography-level(20px, 27px, 500),
            $headline-6: mat.m2-define-typography-level(20px, 27px, 400),
            $subtitle-2: mat.m2-define-typography-level(15px, 17px, 400),
            $subtitle-1: mat.m2-define-typography-level(16px, 21px, 500),
            $body-2: mat.m2-define-typography-level(16px, 21px, 400),
            $body-1: mat.m2-define-typography-level(16px, 25px, 500),
            $caption: mat.m2-define-typography-level(14px, 21px, 400),
            $button: mat.m2-define-typography-level(16px, 21px, 400),
        ),
        (
            "label": $label,
        )
    );

    $light-app-theme: mat.m2-define-light-theme(
        (
            color: (
                primary: mat.m2-define-palette(mat.$m2-indigo-palette),
                accent: mat.m2-define-palette(mat.$m2-indigo-palette, A200, A100, A400),
                warn: mat.m2-define-palette(mat.$m2-red-palette),
            ),
            typography: $typography-config,
        )
    );

    $dark-app-theme: mat.m2-define-dark-theme(
        (
            color: (
                primary: mat.m2-define-palette(mat.$m2-yellow-palette, 700),
                accent: mat.m2-define-palette(mat.$m2-amber-palette, 800),
                warn: mat.m2-define-palette(mat.$m2-amber-palette),
            ),
            typography: $typography-config,
        )
    );

    @include mat.all-component-typographies($typography-config);

    @include mat.all-component-themes($dark-app-theme);

    @mixin typography($theme) {
        $typography-config: mat.m2-get-typography-config($theme);

        .mat-mdc-form-field .mat-mdc-floating-label {
            @include mat.m2-typography-level($typography-config, "label");
        }
    }

    @mixin theme-colors($theme) {
        $_background: map-get($theme, background);
        $_foreground: map-get($theme, foreground);
        $_primary: map-get($theme, primary);
        $_accent: map-get($theme, accent);
        $background-color: mat.m2-get-color-from-palette($_background, background);
        $background-color-dialog: mat.m2-get-color-from-palette($_background, dialog);
        $foreground-color: mat.m2-get-color-from-palette($_foreground, text);
        $border-color: mat.m2-get-color-from-palette($_foreground, divider, 0.3);
        $primary-color: mat.m2-get-color-from-palette($_primary);
        $accent-color: mat.m2-get-color-from-palette($_accent);
        @if $theme == $dark-app-theme {
            $border-color: mat.m2-get-color-from-palette($_foreground, divider, 0.3);
        } @else {
            $border-color: mat.m2-get-color-from-palette($_foreground, divider);
        }
        --background: #{$background-color};
        --background-dialog: #{$background-color-dialog};
        --background-shadow: #{darken($background-color-dialog, 2%)};
        --background-dark: #{darken($background-color, 10%)};
        --foreground: #{$foreground-color};
        --primary: #{$primary-color};
        --accent: #{$accent-color};
        --border: #{$border-color};
        --border-accent: #{$accent-color};
    }

    .dark-theme {
        @include theme-colors($dark-app-theme);
        @include typography($dark-app-theme);
    }

    .light-theme {
        @include mat.all-component-colors($light-app-theme);
        @include theme-colors($light-app-theme);
        @include typography($light-app-theme);
    }
}

// @use '@angular/material' as mat;
// @use './main' as main;
// @import '@angular/material/theming';
// @include mat-core();

// $typography: mat-typography-config(
//   $font-family: 'Roboto, monospace',
//   $headline: mat-typography-level(32px, 48px, 700),
//   $body-1: mat-typography-level(16px, 24px, 400)
// );

// .dark-theme {
//   __<<ngM2ThemingMigrationEscapedComment0>>__
//   $dark-primary: mat-palette($mat-yellow, 700);
//   $dark-accent: mat-palette($mat-amber, 800);
//   $dark-warn: mat-palette($mat-yellow);
//   // Dark theme
//   $dark-theme: mat-dark-theme((
//     color: (
//       primary: $dark-primary,
//       accent: $dark-accent,
//       warn: $dark-warn
//     ),
//     typography: $typography
//   ));
//   @include angular-material-theme($dark-theme);
//   //@include mat.all-component-themes($dark-theme);
//   $primary: mat-color($dark-primary);
//   $accent: mat-color($dark-accent);
//   $warn: mat-color($dark-warn);
//   --primary: #{$primary};
//   --accent: #{$accent};
//   --warn: #{$warn};
//   --background: #303030;
//   --color: white;
// }
// .light-theme {
//   // Light theme
//   $light-primary: mat-palette($mat-blue, 900);
//   $light-accent: mat-palette($mat-blue, 400);
//   $light-warn: mat-palette($mat-grey);

//   $light-theme: mat-light-theme((
//       color: (
//           primary: $light-primary,
//           accent: $light-accent,
//           warn: $light-warn
//       ),
//       typography: $typography
//   ));
//   //@include mat.all-component-colors($light-theme);
//   @include mat.all-component-colors($light-theme);
//   $primary: mat-color($light-primary);
//   $accent: mat-color($light-accent);
//   $warn: mat-color($light-warn);
//   --primary: #{$primary};
//   --accent: #{$accent};
//   --warn: #{$warn};
//   --background: #fafafa;
//   --color: rgba(0, 0, 0, 0.87);
// }

/* You can add global styles to this file, and also import other style files */
//@import "settings/global";
// @import 'swiper/scss';
// @import 'swiper/scss/navigation';
// @import 'swiper/scss/pagination';
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
