<div class="mobile-menu" [ngClass]="{ 'mobile-menu--open': showMobileMenu }">
    <div class="menu">
        <div class="top">
            <button class="close icon-cross"[attr.aria-label]="'Fermer'" (click)="onClose()"></button>
        </div>

        <nav class="nav">
            <div class="nav__group">
                <a class="link" [ngClass]="{'active': ['', 'home'].includes(page) }" (click)="goTo('home')">DERNIERES NEWS</a>

                <!-- Pages dynamiques -->
                <a *ngFor="let p of pages" class="link" [ngClass]="{'active': page === p.Slug }" (click)="goToPage(p.Slug)">{{p.Title}}</a> 
                <!-- Fin Pages dynamiques -->

            </div>
        </nav>
        <div class="bottom">
            <a class="link" [ngClass]="{'active': page === 'inscription' }" (click)="goTo('inscription')">INSCRIPTION</a>
            <a *ngIf="logged" class="link" [ngClass]="{'active': page === 'admin' }" (click)="goTo('admin')">ADMIN</a>
            <a *ngIf="!logged" class="link" (click)="goTo('login')">CONNEXION</a>
            <a *ngIf="logged" class="link" (click)="goTo('logout')">DECONNEXION</a>
            <!-- <a *ngIf="logged" class="icon-arrow" [ngClass]="{'active': page === 'admin' }" (click)="goTo('admin')">ADMIN</a>
            <a *ngIf="!logged" class="icon-arrow" (click)="goTo('login')">CONNEXION</a>
            <a *ngIf="logged" class="icon-arrow" (click)="goTo('logout')">DECONNEXION</a> -->
        </div>
    </div>
</div>
