@import "settings/mixin";
.mobile-menu {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--black);
    opacity: 0.9;
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }
  .menu {
    position: fixed;
    top: 0;
    left: calc(var(--header_mobile) * -1);
    bottom: 0;
    width: var(--header_mobile);
    max-height: 100vh;
    background: var(--white);
    overflow-y: auto;
    z-index: 99;
    transition: all 0.3s ease-in-out 0.1s;
    display: flex;
    flex-direction: column;
    .top {
      flex: 0 0 50px;
      height: 50px;
      background: var(--blue);
      display: flex;
      align-items: center;
      padding: 10px;
      .close {
        margin-right: 30px;
        &:before {
          font-size: 18px;
          color: var(--white);
        }
      }
      img {
        display: block;
        width: 90px;
      }
    }
    .nav {
      flex: 0 0 auto;
      &__group {
        padding: 25px;
        //   &:not(:last-of-type){
        //     border-bottom: 1px solid var(--blue);
        //   }
        // &:first-of-type{
        //     > * > button{
        //       text-transform: uppercase;
        //     }
        //   }
        &:not(:last-child) {
          border-bottom: 1px solid var(--blue);
        }
        &__upper {
          > * > * > button {
            text-transform: uppercase;
          }
        }
        .link {
          position: relative;
          display: block;
          width: 100%;
          text-align: left;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 20px;
          color: var(--blue);
          cursor: pointer;
          text-transform: uppercase;
          &:before {
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            font-size: 12px;
            color: #cacaca;
          }
          &.product {
            text-transform: uppercase;
            color: var(--blue);
          }
          &:hover {
            color: var(--blue_dark);
          }
          &.active {
            color: var(--blue_dark);
          }
        }
      }
      .toggle-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .label {
          font-size: 14px;
          font-weight: 300;
        }
        .price-toggle {
          input[type="checkbox"] {
            display: none;
          }
          label {
            position: relative;
            display: block;
            width: 50px;
            height: 20px;
            border-radius: 10px;
            background: var(--blue_dark);
            transition: all 0.3s ease;
            cursor: pointer;
            .text {
              font-size: 10px;
              min-height: 13px;
              font-weight: 600;
              color: var(--blue);
              text-transform: uppercase;
              position: absolute;
              right: 26px;
              top: 50%;
              transform: translateY(-50%);
              transition: all 0.3s ease-in-out;
            }
            .button {
              position: relative;
              width: 20px;
              height: 20px;
              border-radius: 20px;
              background: #8fc9d1;
              position: absolute;
              left: 31px;
              top: 50%;
              transform: translateY(-50%);
              transition: all 0.3s ease-in-out;
              &:before {
                position: absolute;
                left: 50%;
                top: calc(50% - 1px);
                transform: translate(-50%, -50%);
                @include icons("\67");
                font-size: 12px;
                color: var(--blue_dark);
                transition: all 0.3s ease;
              }
            }
          }
          input[type="checkbox"]:checked + label {
            background: var(--light_grey);
            .text {
              right: 8px;
            }
            .button {
              left: -1px;
              &:before {
                @include icons("\68");
                color: var(--white);
              }
            }
          }
        }
      }
    }
    .bottom {
      flex: 1 1 auto;
      background: var(--blue);
      padding: 25px;
      a {
        display: block;
        position: relative;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        color: var(--white);
        cursor: pointer;
        margin-bottom: 20px;
        &:before {
          position: absolute;
          right: 10px;
          top: 50%;
          color: var(--white);
          transform: translateY(-50%) rotate(-90deg);
          transition: all 0.3s ease-in-out;
        }
        &.active {
          color: var(--blue_dark);
        }
      }
    }
  }
  &.mobile-menu--open {
    &:before {
      opacity: 0.8;
      visibility: visible;
      transition: all 0.3s ease 0.2s;
    }
    .menu {
      transform: translateX(var(--header_mobile));
    }
  }
}
