<div class="menu-container">
    <div class="overflow-line"></div>
    <div class="menu">
        <div class="main-menu" (clickOutside)="closeDisplayMenu()">
            <span (click)="showDisplayMenu = !showDisplayMenu;">Contenu</span>
            <div *ngIf="showDisplayMenu" class="sub-menu">
                <div class="overflow-line"></div>
                <a (click)="goMenu('pages')">Pages</a>
                <a (click)="goMenu('posts')">Articles</a>
                <a (click)="goMenu('comments')">Commentaires</a>
                <a (click)="goMenu('media')">Médias</a>
                <a (click)="goMenu('theme')">Thème</a>
            </div>
        </div>
        <div class="main-menu" (clickOutside)="closeAdherentMenu()">
            <span (click)="showAdherentMenu = !showAdherentMenu;">Adhérents</span>
            <div *ngIf="showAdherentMenu" class="sub-menu">
                <div class="overflow-line"></div>
                <a (click)="goMenu('pages')">Adhérents</a>
                <a (click)="goMenu('posts')">Export</a>
                <a (click)="goMenu('comments')">Inscriptions</a>
            </div>
        </div>

        <div *ngIf="user" class="user-info">
            {{user.FirstName}} {{user.LastName}}
        </div>
    </div>
    
    
</div>
<router-outlet></router-outlet>


