<div class="menu-container admin-menu">
    <div class="overflow-line"></div>
    <div class="menu">
        <div class="main-menu">
            <button mat-button [matMenuTriggerFor]="displayMenu">Contenu</button>
            <mat-menu class="sub-menu" #displayMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="goMenu('pages')">Pages</button>
                <button mat-menu-item (click)="goMenu('posts')">Articles</button>
                <button mat-menu-item (click)="goMenu('comments')">Commentaires</button>
                <button mat-menu-item (click)="goMenu('media')">Médias</button>
                <button mat-menu-item (click)="goMenu('theme')">Thème</button>
            </mat-menu>
        </div>

        <div class="main-menu">
            <button mat-button [matMenuTriggerFor]="dataMenu">Adhérents</button>
            <mat-menu class="sub-menu" #dataMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="goMenu('pages')">Adhérents</button>
                <button mat-menu-item (click)="goMenu('posts')">Export</button>
                <button mat-menu-item (click)="goMenu('comments')">Inscriptions</button>
            </mat-menu>
        </div>

        <div *ngIf="user" class="user-info">
            {{user.FirstName}} {{user.LastName}}
        </div>
    </div>
</div>

<router-outlet></router-outlet>


