<div class="menu-container admin-menu">
    <div class="overflow-line"></div>
    <div class="menu">
        <div *ngIf="fullApp" class="main-menu">
            <button mat-button [matMenuTriggerFor]="displayMenu">Contenu</button>
            <mat-menu class="sub-menu" #displayMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="goMenu('pages')">Pages</button>
                <button mat-menu-item (click)="goMenu('posts')">Articles</button>
                <button mat-menu-item (click)="goMenu('comments')">Commentaires</button>
                <button mat-menu-item (click)="goMenu('media')">Médias</button>
                <button mat-menu-item (click)="goMenu('theme')">Thème</button>
            </mat-menu>
        </div>

        <div class="main-menu">
            <button mat-button [matMenuTriggerFor]="dataMenu">Administration</button>
            <mat-menu class="sub-menu" #dataMenu="matMenu" yPosition="below">
                <button mat-menu-item (click)="goMenu('')">Tableau de bord</button>
                <button mat-menu-item (click)="goMenu('adherents')">Adhérents</button>
                <button *ngIf="isAdmin" mat-menu-item (click)="goMenu('orders')">Paiements</button>
                <button *ngIf="isAdmin" mat-menu-item (click)="goMenu('users')">Utilisateurs</button>
                <!-- <button mat-menu-item (click)="goMenu('posts')">Export</button>
                <button mat-menu-item (click)="goMenu('comments')">Inscriptions</button> -->
            </mat-menu>
        </div>

        <div *ngIf="!fullApp" class="main-menu">
            <mat-icon *ngIf="!fullApp" class="exit" (click)="exit()">logout</mat-icon>
        </div>

        <div *ngIf="user" class="user-info">
            <div>
                {{user.FirstName}} {{user.LastName}}
            </div>
            <button mat-button><mat-icon *ngIf="!fullApp" class="exit" (click)="logout()">logout</mat-icon></button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>


