
<div class="questionary">
    <div class="body">
        <div>
            Je soussigné(e), 
        </div>
        <div>
            <input class="form-control" type="text" name="lastname" placeholder="Nom*" (input)="checkValid()" [(ngModel)]="data.lastname" required [ngClass]="{error: lastnameError}">
            <input class="form-control" type="text" name="firstname" placeholder="Prénom*" (input)="checkValid()" [(ngModel)]="data.firstname" required [ngClass]="{error: firstnameError}">
        </div>
        <div class="center" [ngClass]="{error: statutError}">
            <input type="radio" class="radio" name="statut" (change)="checkValid();" [(ngModel)]="data.status" [value]="'Père'"> Père
            <input type="radio" class="radio" name="statut" (change)="checkValid()" [(ngModel)]="data.status" [value]="'Mère'"> Mère
            <input type="radio" class="radio" name="statut" (change)="checkValid()" [(ngModel)]="data.status" [value]="'Tuteur légal'"> Tuteur légal
        </div>
        <div class="center">
            <input class="form-control telephone" type="text" mask="phoneInputMask" name="telfixe" placeholder="Tél fixe" (input)="checkValid()" [(ngModel)]="data.telfixe" required [ngClass]="{error: telError}">
            <input class="form-control mobile" type="text" mask="phoneInputMask" name="mobile" placeholder="Tél mobile" (input)="checkValid()" [(ngModel)]="data.mobile" required [ngClass]="{error: telError}">
        </div>
        <div>
            autorise mon enfant
        </div>
        <div>
            <input class="form-control" type="text" name="childlastname" placeholder="Nom" [(ngModel)]="data.child_lastname" (input)="checkValid()" required [ngClass]="{error: childlastnameError}">
            <input class="form-control" type="text" name="childfirstname" placeholder="Prénom" [(ngModel)]="data.child_firstname" (input)="checkValid()" required [ngClass]="{error: childfirstnameError}">
        </div>
        <div>
            né(e) le  
            <input class="form-control" type="date" name="datenaissance" [(ngModel)]="datenaissance" (input)="checkValid()" required [ngClass]="{error: datenaissanceError}">
        </div>
        <div>
            à adhérer à la section Volley-ball (y compris toutes les activités proposées par cette section) et les responsables à faire procéder à toute 
            intervention médicale d'urgence. 
        </div>
        <div>
            <input type="radio" class="radio" name="authorize" (change)="checkValid();" [(ngModel)]="authorize" [value]="true"> J'autorise
            <input type="radio" class="radio" name="authorize" (change)="checkValid()" [(ngModel)]="authorize" [value]="false"> Je n'autorise pas
        </div>
        <div>
            mon enfant à quitter seul les installations de Volley-Ball dès la fin des entraînements ou dès le retour au point de rendez-vous, après un tournoi ou une sortie organisée par C3L Colomiers.
        </div>
        <div>
            Les responsables dégagent leur responsabilité dès la sortie des enfants du gymnase.
        </div>
        <div class="auth-form end">
            A <input class="form-control" type="text" name="city" placeholder="Commune*" (input)="checkValid()" [(ngModel)]="data.commune" required [ngClass]="{error: cityError}">
            , le {{now | date:'dd/MM/yyyy'}}
             
        </div>
        <div class="center">
            <div class="signature">
                <span class="title" [ngClass]="{error: sigError}">Signature*</span>
                <app-signature-form [signature]="data.signature" (changed)="onSignature($event)"></app-signature-form>
            </div>
        </div>
    </div>
</div>

<!-- <div id="content-auth" class="main-form">
    <app-form-header></app-form-header>
    <div class="auth-form">
        Je soussigné(e), 
        <input class="form-control" type="text" name="lastname" placeholder="Nom*" [(ngModel)]="lastname" required [ngClass]="{error: lastnameError}">
        <input class="form-control" type="text" name="firstname" placeholder="Prénom*" [(ngModel)]="firstname" required [ngClass]="{error: firstnameError}">
    </div>
    <div class="auth-form statut">
        <input type="radio" class="radio" name="statut" [(ngModel)]="statut" [value]="'Père'" [ngClass]="{error: statutError}"> Père
        <input type="radio" class="radio" name="statut" [(ngModel)]="statut" [value]="'Mère'" [ngClass]="{error: statutError}"> Mère
        <input type="radio" class="radio" name="statut" [(ngModel)]="statut" [value]="'Tuteur légal'" [ngClass]="{error: statutError}"> Tuteur légal
    </div>
    <div class="auth-form tel">
        <input class="form-control telephone" type="text" [mask]="phoneInputMask" name="telfixe" placeholder="Téléphone domicile" [(ngModel)]="telfixe" required [ngClass]="{error: telError}">
    </div>
    <div class="auth-form tel">
        <input class="form-control mobile" type="text" [mask]="phoneInputMask" name="mobile" placeholder="Téléphone portable" [(ngModel)]="mobile" required [ngClass]="{error: telError}">
    </div>
    <div class="auth-form">
        autorise mon enfant 
        <input class="form-control" type="text" name="childlastname" placeholder="Nom" [(ngModel)]="childlastname" required [ngClass]="{error: childlastnameError}">
        <input class="form-control" type="text" name="childfirstname" placeholder="Prénom" [(ngModel)]="childfirstname" required [ngClass]="{error: childfirstnameError}">
    </div>
    <div class="auth-form">
        né(e) le  
        <input class="form-control" type="date" name="datenaissance" [(ngModel)]="datenaissance" required [ngClass]="{error: datenaissanceError}">
    </div>
    <div class="auth-form">
        à adhérer à la section Volley-ball (y compris toutes les activités proposées par cette section) et les responsables à faire procéder à toute 
        intervention médicale d'urgence. 
    </div>
    <div class="auth-form">
        Les responsables dégagent leur responsabilité dès la sortie des enfants du gymnase.
    </div>
    <div class="auth-form end">
        A  
        <input class="form-control" type="text" name="city" placeholder="Commune" [(ngModel)]="city" required [ngClass]="{error: cityError}"> 
        , le 
        <input class="form-control" type="date" name="date" [(ngModel)]="date" required [ngClass]="{error: dateError}">
         
    </div>
    <div class="auth-form end sig">
        Signature : <canvas #canvas width="292" height="100" [ngClass]="{error: sigError}"></canvas>
    </div>
    
    <div class="footer">
        Animation - Développement local - Vacances - Loisirs Enfance-Jeunes - Lieux culturels - Formation - Sports
         - Association d'éducation populaire reconnue d'utilité publique
    </div>
</div> -->

<div class="ng-modal-footer">
    <button type="button" mat-raised-button (click)="onCancel()">{{config.cancelLabel}}</button>
    <button type="button" mat-raised-button color="primary" (click)="onValidate()">{{config.validateLabel}}</button>
</div>
