@import "breadcrumb";
@import 'variables';
@import 'form';

.main {
    max-width: var(--form_width);
    transition: var(--global-transition);
    &.no-menu{
        max-width: calc(var(--form_width) + var(--sidenav_width));
        //min-width: calc(var(--form_width) + var(--sidenav_width));
    }
}
.title{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.ins_info{
    background: #eee;
    max-width: 350px;
    color: #000;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid var(--border);
    transition: var(--global-transition);
    &.no-menu{
        max-width: calc(var(--form_width) + var(--sidenav_width));
    }
    a{
        color: var(--accent);
    }
}
aside{
    position: fixed;
    top: 145px;
    left: calc(var(--sidenav_width) + var(--form_width));
    transition: var(--global-transition);
    // &.no-menu{
    //     left: calc(var(--form_width));
    // }
}
.form{
    border-radius: 10px;
    background: var(--background-dialog);
    border: 1px solid var(--border);
    margin-bottom: 30px;
    // &.light{
    //     background-color: #fff;
    //     border: 1px solid rgba(255,255,255,.12);
    // }
    .inscription{
        padding: 30px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

