<div class="title">
    <h1>
      {{title}}
    </h1>
    <h2 *ngIf="!reinscription">
      {{title2}}
    </h2>
</div>

<div class="main" [ngClass]="{'mobile': isMobile}">
    <div class="col-steps mat-body" [ngClass]="{'no-menu': !isMenuOpened}">
        <div *ngIf="step === 1" class="ins_info">
          <!-- <p>
            <b>
              Les réinscriptions sont momentanément impossibles car nous rencontrons des problèmes avec la plateforme de paiement HelloAsso.
              <br>
              Elles pourront reprendre dès que le problème sera résolu.
            </b>
            <br><br>

            Merci de votre compréhension.
          </p> -->
          <p *ngIf="!inscriptionOpened">
            <b>
              Nous vous informons que toutes les inscriptions au Club de Volley de Colomiers C3L sont terminées pour cette saison 2025-2026.
              <br>
              Nous ne prenons plus de nouvelles inscriptions, que ce soit au niveau de l’Ecole des Jeunes, en compétition FSGT et en formule Loisirs Détente.
            </b>
            <br><br>
          </p>

          <p *ngIf="reinscription"> 
             <b>Pour le moment, les inscriptions 2025-2026 ne sont possibles que pour les jeunes déjà adhérents de la saison qui se termine.</b>
            <br><br>
            <b>Pour y avoir accès, vous devez mettre votre nom, prénom et date de naissance que vous aviez utilisés l’année dernière. </b>
          </p> 

           <!-- <p *ngIf="!reinscription"> 
            <b>Les inscriptions pour les mineurs ne sont plus possibles, l'école de Volley étant complète.</b>
             <b>Les inscriptions pour la formule Loisir sont réouvertes pour quelques places supplémentaires.</b>
           </p> -->

           <!-- <p>
            <b>
              Les derniers joueurs en équipe FSGT ne peuvent s'inscrire qu'avec l'accord du capitaine de l'équipe.
              <br><br>
              Les inscriptions pour les mineurs sont closes. 
            </b>
            <br><br>
          </p>  -->

          <!-- <p *ngIf="!reinscription && !inscriptionOpened">
            <b>Les inscriptions adultes seront prochainement ouvertes.</b>
            <br><br>
          </p> -->
            
<!-- A remettre-->
        <p>
           Ce formulaire vous permet de vous inscrire au Club Loisirs Léo Lagrange de Colomiers (CLLLC) et de payer
          l'adhésion en ligne.<br><br>
          Cela peut être une adhésion familiale ou individuelle.<br><br>
        
          Un tarif préférentiel est accordé aux Columérins (19€ au lieu de 27€). <br><br>

          Pour les autres adhérents de la même famille (parent, conjoint, enfants ou frère ou sœur mineurs) et à la même adresse, le montant est de 6€ chacun.
        </p>
        <p class="info-warning">
          Les inscriptions pour la formule Compétition FSGT ne peuvent se faire qu'avec l'accord du capitaine de l'équipe.
        </p>
        <p>
          Pour réaliser cette inscription, il est <b>obligatoire</b> de remplir une attestation de santé en ligne (ou sinon de présenter et téléverser un certificat médical de moins d'un an)  

          <br><br>
          Ne pas oublier aussi de préparer votre <b>n° de licence</b> si vous en avez un.
          <br><br>
          <b>IMPORTANT</b> Le paiement se fait exclusivement en ligne.
          <br>
          Pour les paiements pass-sport, tickets sport et chèques vacances, l'inscription reste manuelle avec des documents papier à récupérer sur le site <a href="https://colomiers-volley.fr/?page_id=227" target="_blank">https://colomiers-volley.fr/?page_id=227</a>. 
        </p>

<!-- A remettre-->
        </div>

        <div class="form" *ngIf="reinscription || inscriptionOpened">
            <div class="breadcrumbs">
                <a class="item" [ngClass]="{'active': step === 1, 'completed': step > 1, 'disabled': step <= 1}">
                    <span class="arrow"></span>
                    <span class="hide-mobile">Adhésion à CLLL</span>
                    <span class="show-mobile">Adhésion</span>
                </a>
                <a class="item" [ngClass]="{'active': step === 2, 'completed': step > 2, 'disabled': step <= 2}">
                    <span class="arrow"></span>
                    <span class="hide-mobile">Informations</span>
                    <span class="show-mobile">Infos</span>
                </a>
                <a class="item" [ngClass]="{'active': step === 3, 'completed': step > 3, 'disabled': step <= 3}">
                    <span class="arrow"></span>
                    <span class="hide-mobile">Documents</span>
                    <span class="show-mobile">Docs</span>
                </a>
                <a class="item disabled" [ngClass]="{'active': step === 4, 'completed': step > 4}">
                    <span class="arrow"></span>
                    <span class="hide-mobile">Paiement</span>
                    <span class="show-mobile">Payer</span>
                </a>
                <a class="item disabled" [ngClass]="{'active': step === 5, 'completed': step === 5}">
                    <span class="hide-mobile">Récapitulatif</span>
                    <span class="show-mobile">Récap</span>
                </a>
            </div>

            <div class="inscription" [ngClass]="{'mobile': isMobile}">
                <app-start-form *ngIf="step === 1" [start]="startIns" (validate)="onStep1Validate($event)"></app-start-form>

                <app-main-form *ngIf="step === 2" [adherent]="adherent" [local]="startIns.local" [isMobile]="isMobile"
                    (change)="onAdherentChange($event)"
                    (removeMember)="onRemoveMember($event)" (validateForm)="onStep2Validate($event)" (cancelForm)="onCancel()">
                </app-main-form>

                <app-document-form *ngIf="step === 3" [adherent]="adherent" (validate)="onStep3Validate($event)"
                    (cancel)="onStep3Cancel($event)">
                </app-document-form>

                <app-cart-payment *ngIf="step === 4" [cart]="cart" [isMobile]="isMobile" (cancel)="onCancel()">
                </app-cart-payment>

                <div class="payment-result" *ngIf="step == 5">
                    <div class="error" *ngIf="paymentStatus === 'error' || paymentError">
                        <h3>Erreur de paiement</h3>
                        <div class="payment-error" *ngIf="paymentError">
                            Erreur rencontrée : {{paymentError}}
                        </div>
                    </div>

                    <div class="success" *ngIf="paymentStatus === 'success' && paymentCode === 'succeeded'">
                        <h3 class="title">Paiement effectué</h3>
                        <div class="title">
                            Votre inscription a bien été prise en compte. Un email vous a été envoyé par Helloasso confirmant votre paiement.
                        </div>
                        <div class="print" *ngIf="paymentPrintUrl">
                            <div class="title">
                                Vous pouvez télécharger/imprimer votre attestation de paiement
                            </div>
                            <div class="attestation">
                                <!-- <iframe [src]="paymentPrintUrl | safe: 'resourceUrl'" class="scroll1"></iframe> -->
                                 <a [href]="paymentPrintUrl" target="_blank">Mon attestation de paiement</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside class="col-progress">
        <app-cart-info *ngIf="cart && step > 1 && step < 4" [cart]="cart" [step]="step" [isMobile]="isMobile">
        </app-cart-info>

        <!-- <app-form-info [isMobile]="isMobile"></app-form-info> -->
    </aside>

</div>