<div class="title">
    <h1>{{title}} au {{title2}}</h1>
</div>

<div class="main" [ngClass]="{'mobile': isMobile}">
    <div class="col-steps mat-body" [ngClass]="{'no-menu': !isMenuOpened}">
        <div *ngIf="step === 1" class="ins_info">
            Ce formulaire vous permet de vous inscrire au Club Loisirs Léo Lagrange de Colomiers (CLLLC) et de payer
            l'adhésion
            en ligne.
            Cela peut être une adhésion familiale ou individuelle.

            Un tarif préférentiel de la 1ère inscription est accordé aux Columérins (19€ au lieu de 27€). Pour les
            autres
            adhérents de la même famille (conjoint et descendants mineurs), le montant est identique pour tous (6€).
            <br><br>
            <b>il est nécessaire de télécharger au préalable
                <a [href]="docurl" target="_blank">un certificat médical ou une attestation de santé</a></b>
            <br><br>
            Ne pas oublier aussi de préparer votre <b>n° de licence</b> si vous en avez un.
        </div>

        <div class="form">
            <div class="breadcrumbs">
                <a href="#" class="item" (click)="setStep(1)" [ngClass]="{'active': step === 1, 'completed': step > 1, 'disabled': step <= 1}">
                    <span class="arrow"></span>
                    <span class="hide-mobile">Adhésion à CLLL</span>
                    <span class="show-mobile">Adhésion</span>
                </a>
                <a href="#" class="item" (click)="setStep(2)" [ngClass]="{'active': step === 2, 'completed': step > 2, 'disabled': step <= 2}">
                    <span class="arrow"></span>
                    <span class="hide-mobile">Informations</span>
                    <span class="show-mobile">Infos</span>
                </a>
                <a href="#" class="item" (click)="setStep(3)" [ngClass]="{'active': step === 3, 'completed': step > 3, 'disabled': step <= 3}">
                    <span class="arrow"></span>
                    <span class="hide-mobile">Documents</span>
                    <span class="show-mobile">Docs</span>
                </a>
                <a href="#" class="item disabled" [ngClass]="{'active': step === 4, 'completed': step > 4}">
                    <span class="arrow"></span>
                    <span class="hide-mobile">Paiement</span>
                    <span class="show-mobile">Payer</span>
                </a>
                <a href="#" class="item disabled" [ngClass]="{'active': step === 5, 'completed': step === 5}">
                    <span class="hide-mobile">Récapitulatif</span>
                    <span class="show-mobile">Récap</span>
                </a>
            </div>

            <div class="inscription" [ngClass]="{'mobile': isMobile}">
                <app-start-form *ngIf="step === 1" [start]="startIns"
                    (validate)="onStep1Validate($event)"></app-start-form>

                <app-main-form *ngIf="step === 2" [adherent]="adherent" [local]="startIns.local" [isMobile]="isMobile"
                    (addMember)="onAddMember($event)" (change)="onAdherentChange($event)"
                    (removeMember)="onRemoveMember($event)" (validate)="onStep2Validate($event)" (cancel)="onCancel()">
                </app-main-form>

                <app-document-form *ngIf="step === 3" [adherent]="adherent" (validate)="onStep3Validate($event)"
                    (cancel)="onStep3Cancel($event)">
                </app-document-form>

                <app-cart-payment *ngIf="step === 4" [cart]="cart" [isMobile]="isMobile" (cancel)="onCancel()">
                </app-cart-payment>

                <div class="payment-result" *ngIf="step == 5">
                    <div class="error" *ngIf="paymentStatus === 'error' || paymentError">
                        <h3>Erreur de paiement</h3>
                        <div class="payment-error" *ngIf="paymentError">
                            Erreur rencontrée : {{paymentError}}
                        </div>
                    </div>

                    <div class="success" *ngIf="paymentStatus === 'success' && paymentCode === 'succeeded'">
                        <h3 class="title">Paiement effectué</h3>
                        <div class="title">
                            Votre inscription a bien été prise en compte. Un email vous a été envoyé par Helloasso confirmant votre paiement.
                        </div>
                        <div class="print" *ngIf="paymentPrintUrl">
                            <div class="title">
                                Vous pouvez télécharger/imprimer votre attestation de paiement
                            </div>
                            <div class="attestation">
                                <iframe [src]="paymentPrintUrl | safe: 'resourceUrl'" class="scroll1"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside class="col-progress">
        <app-cart-info *ngIf="cart && step > 1 && step < 4" [cart]="cart" [step]="step" [isMobile]="isMobile"
            (addMember)="onAddMemberFromCart()"></app-cart-info>
    </aside>

</div>