@import "variables";

.cart-info {
    position: sticky;
    top: 50px;
    background: var(--background-dialog);
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 30px 0px rgba(19, 34, 57, 0.2);
    padding: 20px;
    border: 1px solid var(--border);

    @media screen and (max-width: 1025px) {
        position: relative;
        top: auto;
        width: 100%;
        padding: 15px 25px 10px;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        z-index: 2;
    }

    @media screen and (max-width: 600px) {
        padding: 15px 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        max-height: 500px;
        transition: var(--global-transition);
    }

    .top {
        margin-bottom: 30px;
        justify-content: center;
        @media screen and (max-width: 1025px) {
            display: none;
        }

        .label {
            font-size: 16px;
            line-height: 22px;
            text-transform: uppercase;
            color: var(--primary);
        }
    }

    .main {
        position: relative;
        min-height: 260px;
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--border);
        padding-top: 20px;
        @media screen and (max-width: 1025px) {
            display: flex;
            flex-wrap: wrap;
            min-height: auto;
        }

        @media screen and (max-width: 600px) {
            display: block;
        }

        .item {
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        > *:not(.loader):not(.update-btn):not(.error-zone) {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease;
        }
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid var(--border);
        color: var(--primary);
        .total{
            line-height: 40px;
            .item{
                display: flex;
                .lib-total{
                    margin-right: 10px;
                }
            }
        }
    }
    

    &.small {
        max-height: 50px;
        flex-direction: row;
        justify-content: space-evenly;
        border: none;
        border-top: 1px solid var(--border);
        border-radius: 0;
        line-height: 40px;
        transition: var(--global-transition);
        .main{
            height: 0;
            width: 0;
        }
        .footer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-top: 0;
            width: 100%;
            margin: -10px 0;
        }
        &.opened{
            max-height: inherit;
            flex-direction: column;
            .top{
                display: block;
                margin: 0;
                text-align: center;
                border-bottom: 1px solid var(--border);
            }
            .main{
                border-top: none;
                height: auto;
                width: auto;
                margin-bottom: 20px;
                .item{
                    margin-bottom: 0;
                }
            }
            .footer{
                border-top: 1px solid var(--border);
            }
        }
    }
    // background: var(--background-dialog);
    // border: 1px solid var(--border);
    // border-radius: 10px;
    // position: sticky;
    // top: 100px;
    // box-shadow: -15px 13px 43px 0px var(--background-shadow);
    // padding: 15px 25px 30px;
    // text-align: center;
    // width: 350px;
    // height: 450px;
    // max-width: 350px;
    // min-height: 450px;
    // font-size: 14px;
    // &.light{
    //     background: #eee;
    // }
    // .title{
    //     font-size: 18px;
    //     font-weight: 500;
    //     margin-bottom: 25px;
    //     line-height: 30px;
    //     border-bottom: 1px solid #ccc;
    // }
    // .body{
    //     display: flex;
    //     flex-direction: column;
    //     min-height: 190px;
    //     .item{
    //         width: 100%;
    //         height: 40px;
    //         display: flex;
    //         justify-content: space-between;
    //         div {
    //             display: block;
    //             flex: 0 1 auto;
    //             .number{
    //                 font-size: 700;
    //             }
    //         }
    //     }
    // }
    // .total{
    //     display: flex;
    //     margin-top: 30px;
    //     padding-top: 5px;
    //     border-top: 1px solid #ccc;
    //     position: relative;
    //     bottom: 0;
    //     .item{
    //         width: 100%;
    //         display: flex;
    //         justify-content: space-between;
    //         div {
    //             .lib-total{
    //                 padding-left: 100px;
    //             }
    //             display: block;
    //             flex: 0 1 auto;
    //             .number{
    //                 font-size: 700;
    //             }
    //         }
    //     }
    // }
    // .footer{
    //     position:absolute;
    //     height: 70px;
    //     bottom: 0;
    //     width: 100%;
    //     margin: 0 -25px;
    //     background: var(--primary);
    //     border-bottom-left-radius: 10px;
    //     border-bottom-right-radius: 10px;
    //     img{
    //         width: 70%;
    //         margin-top: 8px;
    //     }
    // }
}
