<!-- <div class="header__menu">
    <div class="desktop">
      <div (clickOutside)="onClickedOutside($event)" class="product-menu">
      </div>
    </div>
    <div class="mobile">
    </div>
</div>
<app-menu-mobile [showMobileMenu]="showMobileMenu" (close)="onClose()"></app-menu-mobile> -->
<mat-nav-list>
  <a mat-list-item (click)="goTo('home')">
    <mat-icon>home</mat-icon> Accueil
  </a>
  <a mat-list-item *ngFor="let p of pages" (click)="goToPage(p.Slug)">
    <mat-icon>chevron_right</mat-icon> {{p.Title}}
  </a>
  <a mat-list-item (click)="goTo('inscription')">
    <mat-icon>app_registration</mat-icon> Inscription
  </a>
  <div class="tools">
    <a mat-list-item *ngIf="logged" (click)="goTo('admin')">
      <mat-icon>settings</mat-icon> Admin
    </a>
    <a mat-list-item *ngIf="!logged" (click)="goTo('login')">
      <mat-icon>login</mat-icon> Connexion
    </a>
    <a mat-list-item *ngIf="logged" (click)="goTo('logout')">
      <mat-icon>logout</mat-icon> Déconnexion
    </a>
  </div>
</mat-nav-list>