<mat-toolbar
  color="primary"
  class="header"
  [ngClass]="{
    'dark-theme': theme === 'dark',
    'light-theme': theme === 'light'
  }"
>
  <mat-icon *ngIf="fullApp" (click)="toggleMenu()" class="hamburger">{{
    opened ? "menu" : "menu_open"
  }}</mat-icon>
  <mat-icon *ngIf="!fullApp" (click)="goAdmin()" class="hamburger"
    >settings</mat-icon
  >
  <div>CLLL COLOMIERS VOLLEY</div>
  <span class="nav-tool-items">
    <!-- <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleTheme($event.checked)">Dark mode</mat-slide-toggle> -->
  </span>
</mat-toolbar>

<div
  class="main-content scroll1"
  [ngClass]="{
    'dark-theme': theme === 'dark',
    'light-theme': theme === 'light'
  }"
>
  <router-outlet></router-outlet>
</div>

<app-loader></app-loader>
