<div *ngIf="formGroup" [formGroup]="formGroup">

  <mat-form-field class="form-element row-item">
    <mat-label>Section</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let c of categories" [value]="c.Code">{{c.Libelle}}</mat-option>
    </mat-select>
    <mat-error *ngIf="!formGroup.controls['category'].valid && formGroup.controls['category'].touched">
      {{ getInputError('category') }}
    </mat-error>
  </mat-form-field>

  <div *ngIf="choosenSection && noLicenceRequired" class="border-div">

    <div class="training">
      <div class="info">
        Entrainements auxquels vous souhaitez participer
      </div>

      <div class="choice">
        <mat-checkbox [(ngModel)]="adherent.TrainingTE" [ngModelOptions]="{standalone: true}" id="chk-mardi-soir-m">Mardi soir</mat-checkbox>
        <mat-checkbox [(ngModel)]="adherent.TrainingFM" [ngModelOptions]="{standalone: true}" id="chk-vendredi-midi-m">Vendredi midi</mat-checkbox>
        <mat-checkbox [(ngModel)]="adherent.TrainingFE" [ngModelOptions]="{standalone: true}" id="chk-vendredi-soir-m">Vendredi soir</mat-checkbox>
      </div>

    </div>
  </div>

  <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
    <mat-form-field class="first first-50">
      <input matInput placeholder="Nom" formControlName="lastname">
      <mat-error *ngIf="!formGroup.controls['lastname'].valid && formGroup.controls['lastname'].touched">
        {{ getInputError('lastname') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="last">
      <input matInput placeholder="Prénom" formControlName="firstname">
      <mat-error *ngIf="!formGroup.controls['firstname'].valid && formGroup.controls['firstname'].touched">
        {{ getInputError('firstname') }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
    <mat-form-field class="first first-33">
      <mat-label>Genre</mat-label>
      <mat-select formControlName="genre">
        <mat-option value="M">Masculin</mat-option>
        <mat-option value="F">Féminin</mat-option>
        <mat-option value="A">Autre</mat-option>
      </mat-select>
      <mat-error *ngIf="!formGroup.controls['genre'].valid && formGroup.controls['genre'].touched">
        {{ getInputError('genre') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="first first-33">
      <mat-label>Date de naissance</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthdate" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="!formGroup.controls['birthdate'].valid && formGroup.controls['birthdate'].touched">
        {{ getDateError('birthdate') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="first first-33">
      <mat-label>Lien de parenté</mat-label>
      <mat-select formControlName="relationship">
        <mat-option value="P">Parent</mat-option>
        <mat-option value="C">Conjoint</mat-option>
        <mat-option value="E">Enfant</mat-option>
        <mat-option value="F">Frère</mat-option>
        <mat-option value="S">Soeur</mat-option>
      </mat-select>
      <mat-error *ngIf="!formGroup.controls['relationship'].valid && formGroup.controls['relationship'].touched">
        {{ getInputError('relationship') }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
    <mat-form-field class="first first-25">
      <mat-label>Téléphone</mat-label>
      <input matInput mask="phoneInputMask" placeholder="Téléphone" formControlName="phone">
      <mat-error *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
        {{ getInputError('phone') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="last">
      <mat-label>Adresse de messagerie</mat-label>
      <input matInput placeholder="Adresse de messagerie" formControlName="email">
      <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
        {{ getInputError('email') }}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="form-element row-item" [ngClass]="{'mobile': isMobile}">
    <mat-label>Sections CLLL</mat-label>
    <mat-select formControlName="sections" multiple>
      <mat-option *ngFor="let section of all_sections" [value]="section">{{section}}</mat-option>
    </mat-select>
    <mat-error *ngIf="!formGroup.controls['sections'].valid && formGroup.controls['sections'].touched">
      {{ getInputError('sections') }}
    </mat-error>
  </mat-form-field>

</div>