@use '@angular/material' as mat;

@mixin tile-theme($theme) {
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $background-color: mat.m2-get-color-from-palette($background, card);

    .tile {
        @include mat.elevation(2);
        background: mat.m2-get-color-from-palette($accent);
        border: 1rem solid $background-color;
        border-radius: 5px;
        padding: 2rem;
        min-height: 200px;
        min-width: 200px;
        
        p {
            color: $background-color;
            font-family: 'Roboto';
            line-height: 2.4rem;
            font-size: 14px;
        }
    }
  }