.filter {
    position: absolute;
    // left: 50%;
    // top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--background);
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 360px;
    z-index: 3;
    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    .filters {
        max-height: 408px;
        overflow-y: auto;
        .filter-item{
            border-top: 1px solid var(--border);
            display: flex;
            flex-direction: row;
            .field{
                color: var(--primary);
                width: 120px;
            }
            .dates {
                display: flex;
                flex-direction: column;
                .title{
                    width: 100%;
                }
                .input{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: start;
                    margin-bottom: 5px;
                    input{
                        max-height: 40px;
                        margin-right: 10px;
                        width: 140px;
                    }
                }
                
            }
            mat-select {
                margin-left: 10px;
            }
            &.custom {
                border: none;
                margin-top: -25px;
                mat-select {
                    margin-left: 0;
                }
            }
        }
    }
    
    
    .buttons{
        display: flex;    
        max-height: 50px;
        justify-content: space-evenly;
    }
}
