<!-- <div class="connection-form" >
    <div class="top">
        <p class="title">Connexion</p>
    </div>

    <div class="form" name="login_form">
        <div class="input" [ngClass]="{error: authError}">
            <input type="email" name="email" placeholder="email" [(ngModel)]="email" required>
        </div>
    
        <div class="input input--pswd" [ngClass]="{error: authError}">
    
        <input id="password" [(ngModel)]="password" type="{{ !displayPassword ? 'password' : 'text' }}"
            placeholder="Mot de passe" name="password" required />
    
        <button *ngIf="!displayPassword" type="button" class="icon-eye" tabindex="-1" (click)="displayPassword = !displayPassword"
            title="Afficher"></button>
    
        <button *ngIf="displayPassword" type="button" class="icon-eye-off" tabindex="-1" (click)="displayPassword = !displayPassword"
            title="Cacher"></button>
        </div>
        <p *ngIf="authError" class="error-msg">Votre e-mail ou votre mot de passe n’est pas correct.</p>

        <button type="submit" class="btn" (click)="onClickOnConnection()">Connexion</button>
        <button class="link" (click)="onClickOnPasswordForgotten()">Mot de passe oublié</button>
    </div>

</div> -->

<div class="ng-modal">
    <div class="ng-modal-content">
        <div class="ng-modal-header">
            <h1>Connexion</h1>
            <mat-icon class="close" (click)="onCancel()">close</mat-icon>
        </div>
        <div class="ng-modal-body">
            <div class="input" [ngClass]="{error: authError}">
                <input class="form-control" type="email" name="email" placeholder="email" [(ngModel)]="email" required>
            </div>
        
            <div class="input input--pswd" [ngClass]="{error: authError}">
        
            <input class="form-control" id="password" [(ngModel)]="password" type="{{ !displayPassword ? 'password' : 'text' }}"
                placeholder="Mot de passe" name="password" required />
        
            <mat-icon *ngIf="!displayPassword" class="eye-pwd" (click)="displayPassword = !displayPassword" tabindex="-1"title="Afficher">visibility</mat-icon>
            <mat-icon *ngIf="displayPassword" class="eye-pwd" (click)="displayPassword = !displayPassword" tabindex="-1"title="Cacher">visibility_off</mat-icon>

            </div>
            <p *ngIf="authError" class="error-msg">Votre e-mail ou votre mot de passe n’est pas correct.</p>
        </div>
        <div class="ng-modal-footer">
            <button mat-raised-button color="primary" (click)="onClickOnConnection()">Connexion</button>
            <button mat-button (click)="onClickOnPasswordForgotten()">Mot de passe oublié</button>
        </div>
    </div>
</div>