

.connection-form {
  .top {
    padding: 30px 50px 40px;
    text-align: center;

    @media screen and (max-width: 600px) {
      padding: 30px 15px;
    }

    img {
      margin-bottom: 30px;

      @media screen and (max-width: 600px) {
        margin-bottom: 15px;
      }
    }

    .title {
      font-weight: 600;
    }
  }

  .form {
    padding: 0 50px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 600px) {
      padding: 0 15px 30px;
    }

    .input {
      width: 100%;
      margin-bottom: 10px;

      input {
        width: 100%;
      }

      &--pswd {
        &.error {
          &:before {
            right: 40px;
          }
        }
      }
    }

    .error-msg {
      margin-right: auto;
      &.blocked {
        text-align: center;
      }
    }

    button[type="submit"] {
      width: 100%;
      margin: 25px 0 30px;
    }

    .link {
      font-size: 14px;
      color: var(--text-light);
      text-decoration: underline;
    }
  }

  .bottom {
    background: var(--main-light);
    padding: 35px 50px 55px;
    text-align: center;

    @media screen and (max-width: 600px) {
      padding: 30px 15px 40px;
    }

    .link {
      font-weight: 600;
      color: var(--main);
      text-decoration: underline;
      margin-top: 10px;
    }
  }
}

// .forgotten-password-step1 {
//   .top {
//     padding: 30px 50px 40px;
//     text-align: center;

//     @media screen and (max-width: 600px) {
//       padding: 30px 15px;
//     }

//     img {
//       margin-bottom: 30px;

//       @media screen and (max-width: 600px) {
//         margin-bottom: 15px;
//       }
//     }

//     .title {
//       font-weight: 600;
//     }
//   }

//   .form {
//     padding: 0 50px 60px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     @media screen and (max-width: 600px) {
//       padding: 0 15px 30px;
//     }

//     .input {
//       width: 100%;
//       margin-bottom: 10px;

//       input {
//         width: 100%;
//       }

//       &--pswd {
//         &.error {
//           &:before {
//             right: 40px;
//           }
//         }
//       }
//     }

//     .error-msg {
//       margin-right: auto;
//     }

//     button[type="submit"] {
//       width: 100%;
//       margin: 25px 0 30px;
//     }

//     .link {
//       font-size: 14px;
//       color: var(--text-light);
//       text-decoration: underline;
//     }

//     .text {
//       font-size: 16px;
//       color: var(--text-light);
//       text-decoration: none;
//       text-align: center;
//       margin-bottom: 30px;
//     }
//   }

//   .validation {
//     padding: 0 80px;
//     text-align: center;
//     font-weight: 600;
//     color: var(--text);
//     margin-bottom: 30px;

//     @media screen and (max-width: 600px) {
//       padding: 0 50px;
//     }

//     &::before {
//       @include icons("\6b");
//       display: block;
//       font-size: 40px;
//       color: var(--main);
//       margin-bottom: 20px;
//     }
//   }

//   .bottom {
//     background: var(--main-light);
//     padding: 35px 50px 55px;
//     text-align: center;

//     @media screen and (max-width: 600px) {
//       padding: 30px 15px 40px;
//     }

//     .link {
//       font-weight: 600;
//       color: var(--main);
//       text-decoration: underline;
//       margin-top: 10px;
//     }
//   }
// }

// .forgotten-password-step2 {
//   color: var(--text-light);
//   padding-bottom: 55px;

//   .top {
//     padding: 30px 50px;
//     text-align: center;

//     @media screen and (max-width: 600px) {
//       padding: 30px 15px;
//     }

//     img {
//       width: 150px;
//       margin-bottom: 30px;

//       @media screen and (max-width: 600px) {
//         margin-bottom: 15px;
//       }
//     }

//     .title {
//       font-weight: 600;
//       color: var(--text);
//       margin-bottom: 15px;
//     }
//   }

//   .form {
//     padding: 0 50px;

//     @media screen and (max-width: 600px) {
//       padding: 0 15px;
//     }

//     .field-wrapper {
//       .input {
//         width: 100%;
//         margin-bottom: 10px;

//         input {
//           width: 100%;
//         }
//       }

//       .error-msg {
//         margin-right: auto;
//       }

//       &.error {
//         .input {
//           input {
//             background: var(--white);
//             border: 1px solid var(--pink);
//           }

//           &:before {
//             @include icons("\45");
//             color: var(--pink);
//             font-size: 21px;
//             position: absolute;
//             right: 40px;
//             top: 50%;
//             transform: translateY(-50%);
//           }
//         }
//       }
//     }

//     button[type="submit"] {
//       width: 100%;
//       margin-top: 5px;
//     }

//     .instructions {
//       max-width: 240px;
//       margin: 10px 20px 20px;
//       font-size: 14px;
//       line-height: 22px;

//       ul {
//         margin-top: 10px;

//         li {
//           position: relative;
//           padding-left: 25px;

//           &::before {
//             content: "";
//             width: 16px;
//             height: 16px;
//             border-radius: 100%;
//             font-size: 16px;
//             background: var(--grey-light);
//             position: absolute;
//             left: 0;
//             top: 50%;
//             transform: translateY(-50%);
//           }

//           &.valid {
//             &::before {
//               @include icons("\6b");
//               background: var(--white);
//               color: var(--main);
//             }
//           }
//           &.error {
//             &::before {
//               @include icons("\46");
//               background: var(--white);
//               color: var(--pink);
//             }
//           }
//         }
//       }
//     }
//   }
// }
