<div class="inscription border-div">
    <div *ngIf="cart?.client" class="section-title name">
        <span class="title main" [ngClass]="{'mobile': isMobile}">
            Montant de l'adhésion {{cart.client.adhesionType}} : {{cart.total | currency: "EUR":"symbol":"1.2-2":"fr"}}
        </span>
        <span class="warning">
            ATTENTION : Au moment du paiement, une contribution à Hello Asso est automatiquement proposée. 
            Elle est facultative, elle peut être modifiée jusqu'à 0€ (zéro euros) en cliquant sur "Modifier", "Je ne souhaite pas soutenir...".
        </span>
        
    </div>

    <form *ngIf="formGroup && !redirectUrl" [formGroup]="formGroup" class="form">
        <section class="inscription" [ngClass]="{'mobile': isMobile}">
            <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
                <mat-form-field class="first first-50">
                    <input matInput placeholder="Nom" formControlName="lastname">
                    <mat-error
                        *ngIf="!formGroup.controls['lastname'].valid && formGroup.controls['lastname'].touched">
                        {{ getInputError('lastname') }}
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field class="last">
                    <input matInput placeholder="Prénom" formControlName="firstname">
                    <mat-error
                        *ngIf="!formGroup.controls['firstname'].valid && formGroup.controls['firstname'].touched">
                        {{ getInputError('firstname') }}
                    </mat-error>
                </mat-form-field>
            </div>
        
            <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
                <mat-form-field class="last">
                    <mat-label>Date de naissance</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthdate" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="!formGroup.controls['birthdate'].valid && formGroup.controls['birthdate'].touched">
                        {{ getDateError('birthdate') }}
                    </mat-error>
                </mat-form-field>
            </div>
    
            <mat-form-field class="form-element row-item">
                <mat-label>Adresse</mat-label>
                <input matInput placeholder="Adresse" formControlName="address">
                <mat-error *ngIf="!formGroup.controls['address'].valid && formGroup.controls['address'].touched">
                    {{ getInputError('address') }}
                </mat-error>
            </mat-form-field>
    
            <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
                <mat-form-field class="first first-25">
                    <mat-label>Code postal</mat-label>
                    <input matInput [mask]="cpInputMask" placeholder="Code postal" formControlName="postalcode">
                    <mat-error
                        *ngIf="!formGroup.controls['postalcode'].valid && formGroup.controls['postalcode'].touched">
                        {{ getCpError('postalcode') }}
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field class="last">
                    <mat-label>Ville</mat-label>
                    <input matInput placeholder="Ville" formControlName="city">
                    <mat-error *ngIf="!formGroup.controls['city'].valid && formGroup.controls['city'].touched">
                        {{ getInputError('city') }}
                    </mat-error>
                </mat-form-field>
            </div>
    
            <div class="form-element row-item flex" [ngClass]="{'mobile': isMobile}">
                <mat-form-field class="form-element row-item">
                    <mat-label>Adresse de messagerie</mat-label>
                    <input matInput placeholder="Adresse de messagerie" formControlName="email">
                    <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                        {{ getInputError('email') }}
                    </mat-error>
                </mat-form-field>
            </div>
    
            <div class="ins-buttons">
                <button type="button" mat-raised-button (click)="onCancel()">Retour</button>
                <button type="button" mat-raised-button color="primary" (click)="sendCheckout()" [disabled]="!isFormValid()">Payer</button>
            </div>
        </section>
        
    </form>
</div>
