.top{
    height: var(--admin-top-height);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    line-height: 60px;
    input{
        border-radius: 5px;
        border-width: 1px;
    }
    .actions{
        button{
            margin-right: 10px;
        }
    }
    div {
        display: flex;
        align-self: center;
    }
}
.liste{
    height: calc(100vh - var(--header-height) - var(--admin-menu-height) - var(--admin-top-height) - var(--admin-footer-height) - 68px);
    &.hidden{
        display: none;
    }
}
.footer{
    height: var(--admin-footer-height);
    &.hidden{
        display: none;
    }
}

.mat-sort-header{
    mat-icon{
        font-size: 16px;
        margin-top: 10px;
        visibility: hidden;
    }
    &:hover{
        mat-icon{
            visibility: visible;
        }
    }
}
.mat-row{
    cursor: pointer;
    &:hover {
        background: aliceblue;
    }
}
.spinner-container {
    position: fixed;
    left: 50%;
    top: 50%;
}
.mat-column-LastName{
    text-transform: uppercase;
}
.mat-column-FirstName{
    text-transform: capitalize;
}
.mat-column-Payment{
    div{
        &.text {
            width: 100%;
            text-align: center;
        }
    }
    mat-icon {
        width: 100%;
        text-align: center;
        &.check {
            color: green;
        }
        &.wait {
            color: red;
        }
    }
    
}
