<div class="adh-liste">
    <div class="spinner-container" *ngIf="dataSource.loading | async">
        <mat-spinner [diameter]="25"></mat-spinner>
    </div>

    <div class="top" [ngClass]="{'hidden': selectedAdherent}">
        <div>
            <app-adherent-filter (change)="filterChanged($event)" (apply)="onFilter($event)"></app-adherent-filter>
        </div>
        <div class="search">
          <input type="text" [(ngModel)]="search" placeholder="Chercher par nom" (keyup)="onSearch()" />
          <div *ngIf="search" class="search-reset" (click)="onResetSearch()">
            <mat-icon>close_small</mat-icon>
          </div>
        </div>
        <div class="pager">
          <mat-paginator [length]="adherentsCount" [pageSize]="10" [pageSizeOptions]="[10, 30, 50, 100, 200]"></mat-paginator>
        </div>
        <div class="actions">
          <button type="button" mat-raised-button color="primary" matPrefix (click)="setDocs()">
            <mat-icon>gear</mat-icon>
          </button>
          <button type="button" mat-raised-button color="primary" matPrefix (click)="manualFill()">
              <mat-icon>person_add</mat-icon>
          </button>
          <button type="button" mat-raised-button color="primary" matPrefix (click)="export()">
              <mat-icon>download</mat-icon>Excel
          </button>
          <button mat-raised-button color="primary" [matMenuTriggerFor]="exportMenu">Documents</button>
          <mat-menu class="sub-menu" #exportMenu="matMenu" yPosition="below">
            <button mat-menu-item (click)="exportDocs('adhesion')">Adhésions</button>
            <button mat-menu-item (click)="exportDocs('autorisation')">Autorisations parentales</button>
            <button mat-menu-item (click)="exportDocs('attestation')">Attestations</button>
            <button mat-menu-item (click)="exportDocs('certificat')">Certificats</button>
            <button mat-menu-item (click)="exportDocs('photo')">Photos</button>
            <button mat-menu-item (click)="exportEmails()">Emails</button>
          </mat-menu>
        </div>
    </div>

    <div class="liste" [ngClass]="{'hidden': selectedAdherent}">
        <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" cdkDropList
            cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" matSort matSortActive="IdAdherent"
            matSortDirection="asc" matSortDisableClear>

            <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                <mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>
                    {{column.header}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">{{column.cell(row)}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns" (click)="showCard(row)"></mat-row>
        </mat-table> -->
        <div class="table-container scroll1">
          <table mat-table [dataSource]="dataSource" matSort matSortActive="IdAdherent" matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="IdAdherent">
                <tr><th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th></tr>
                <tr><td mat-cell *matCellDef="let row" style="width:5%"> {{row.IdAdherent}} </td></tr>
            </ng-container>

            <ng-container matColumnDef="Saison">
              <tr><th mat-header-cell *matHeaderCellDef mat-sort-header>Saison</th></tr>
              <tr><td mat-cell *matCellDef="let row" style="width:5%"> {{row.Saison}} </td></tr>
          </ng-container>

            <ng-container matColumnDef="LastName">
                <tr><th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th></tr>
                <tr><td mat-cell *matCellDef="let row" style="width:35%"> {{row.LastName}} </td></tr>
            </ng-container>

            <ng-container matColumnDef="FirstName">
                <tr><th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th></tr>
                <tr><td mat-cell *matCellDef="let row" style="width:30%"> {{row.FirstName}} </td></tr>
            </ng-container>

            <ng-container matColumnDef="Category">
                <tr><th mat-header-cell *matHeaderCellDef mat-sort-header>Catégorie</th></tr>
                <tr><td mat-cell *matCellDef="let row" style="width:5%"> {{row.Category}} </td></tr>
            </ng-container>

            <ng-container matColumnDef="Section">
                <tr><th mat-header-cell *matHeaderCellDef mat-sort-header>Section</th></tr>
                <tr><td mat-cell *matCellDef="let row" style="width:5%"> {{row.Section}} </td></tr>
            </ng-container>

            <ng-container matColumnDef="Payment">
                <tr><th mat-header-cell *matHeaderCellDef mat-sort-header>Paiement</th></tr>
                <tr>
                    <td mat-cell *matCellDef="let row" style="width:5%" [ngSwitch]="row.Payment"> 
                        <mat-icon *ngSwitchCase="'Terminé'" class="check">check_circle</mat-icon>
                        <mat-icon *ngSwitchCase="'En attente'" class="wait">pending</mat-icon>
                        <mat-icon *ngSwitchCase="''" class="empty">remove</mat-icon>
                        <div *ngSwitchDefault class="text">{{row.Payment}}</div>
                    </td>
                </tr>
            </ng-container>

            <ng-container matColumnDef="PaymentComment">
              <tr><th mat-header-cell *matHeaderCellDef mat-sort-header>Info paiement</th></tr>
              <tr><td mat-cell *matCellDef="let row" style="width:10%"> {{row.PaymentComment}} </td></tr>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="showCard(row)"></tr>
        </table>
        </div>
        

        <!-- <mat-paginator [length]="adherentsCount" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]"></mat-paginator> -->
    </div>

    

    <div class="footer" [ngClass]="{'hidden': selectedAdherent}">
        
    </div>

    <div *ngIf="selectedAdherent">
        <app-adherent-card [adherent]="selectedAdherent" (change)="adherentChange($event)" (reload)="reload()" (hide)="hideCard()"></app-adherent-card>
    </div>
</div>