
.order-row{
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    cursor: pointer;
    &:hover{
        background: #eee;
    }
    .order-item {
        padding: 5px 15px;
        color: #000;
        text-align: left;
        
        &.id {
            flex: 0 0 85px;
        }
        &.date {
            flex: 0 0 140px;
        }
        &.nom {
            flex: 0 0 150px;
            text-transform: uppercase;
        }
        &.prenom {
            flex: 0 0 150px;
            text-transform: capitalize;
        }
        &.c3l {
            flex: 0 0 95px;
            text-align: right;
        }
        &.club {
            flex: 0 0 95px;
            text-align: right;
        }
        &.total {
            flex: 0 0 95px;
            text-align: right;
        }
    }
    .order-item:not(:last-child){
        border-right: 1px solid #ccc;
    }
}