<div *ngIf="data && !data.IdParent" class="order-row" [ngClass]="{'hasMember': data.Membres?.length}">
    <div *ngIf="isHelloAsso" class="order-item id">{{data.IdPaiement}}</div>
    <div *ngIf="isHelloAsso" class="order-item date">{{(data.Date) | date: 'dd/MM/yyyy'}}</div>

    <div *ngIf="!isHelloAsso" class="order-item id">{{data.IdAdherent}}</div>
    <div *ngIf="!isHelloAsso" class="order-item date">{{(data.InscriptionDate) | date: 'dd/MM/yyyy'}}</div>

    <div class="order-item nom">{{data.LastName}}</div>
    <div class="order-item prenom">{{data.FirstName}}</div>
    <div class="order-item date">{{data.BirthdayDate | date: 'dd/MM/yyyy'}}</div>
    <div *ngIf="isHelloAsso" class="order-item c3l">{{montantC3l | currency: "EUR":"symbol":"1.2-2":"fr"}}</div>
    <div *ngIf="isHelloAsso" class="order-item club">{{montantClub | currency: "EUR":"symbol":"1.2-2":"fr"}}</div>
    <div *ngIf="isHelloAsso" class="order-item total">{{montantTotal | currency: "EUR":"symbol":"1.2-2":"fr"}}</div>
    <div *ngIf="!isHelloAsso" class="order-item manual">{{data.Payment}}</div>
</div>
<div class="order-row member" *ngIf="data && data.IdParent">
    <div class="order-item id"></div>
    <div class="order-item date">membre</div>
    <div class="order-item nom">{{data.LastName}}</div>
    <div class="order-item prenom">{{data.FirstName}}</div>
    <div class="order-item date">{{data.BirthdayDate | date: 'dd/MM/yyyy'}}</div>
    <div class="order-item manual">-</div>
</div>
<div *ngFor="let m of memberOrders">
    <app-order-card  [data]="m"></app-order-card>
</div>