@import "form";

.photo-taker{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    div{
        padding: 10px;
    }
    .info{
        display: flex;
        flex-direction: column;
        width: 100%;
        .import-buttons{
            display: flex;
            justify-content: space-around;
        }
        .mat-icon {
            transform: scale(1);
        }
    }
    // .preview {
    //     width: 35%;
    //     text-align: center;
    //     img{
    //         height: 193px;
    //         width: 150px;
    //         object-fit: cover;
    //     }
    // }
    .edit-buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

