<div class="photo-taker">
    <div class="info">
       <div *ngIf="!imageBase64">
            Veuillez ajouter une photo d'identité pour l'établissement de la licence
        </div>

        <div *ngIf="imageBase64">
            Modifier la photo
        </div>

        <div class="import-buttons">
            <button mat-raised-button color="primary" matPrefix title="Prendre une photo" (click)="showModal('camera')">
                <mat-icon>add_a_photo</mat-icon>
            </button>

            <button mat-raised-button color="primary" matPrefix title="Importer une photo" (click)="f_input.click()">
                <mat-icon>download</mat-icon>
            </button>
            <input type="file" hidden #f_input (change)="onSelect(f_input.files)" />

            <button *ngIf="imageBase64" mat-raised-button color="primary" matPrefix title="Recadrer une photo" (click)="showModal('cropper')">
                <mat-icon>crop</mat-icon>
            </button>

            <button *ngIf="imageBase64" mat-raised-button matPrefix title="Fermer" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>